  .nodeName {
    font: 12px sans-serif;
    fill: white;
    text-transform: uppercase;
  }

  .nodeContent {
    margin-top: 10px;
    font: 10px sans-serif;
    fill: white;
  }

  .legenda, .plus {
    font: 12px sans-serif; 
    stroke: white;
  }

  .button {
    background-color: white;
    padding: 2px;
    font: 12px sans-serif;
    stroke:steelblue;
    cursor: pointer;
  }