  h1 {
    font: 18px sans-serif;
    fill: white;
    text-transform: uppercase;
    text-align: left;
  }
  
  .nodeName {
    font: 12px sans-serif;
    fill: white;
    text-transform: uppercase;
  }

  
  .nodeContent {
    margin-top: 10px;
    font: 10px sans-serif;
    fill: white;
  }

  .legenda, .plus {
    font: 12px sans-serif; 
    stroke: white;
  }

  .button {
    background-color: white;
    padding: 2px;
    font: 12px sans-serif;
    stroke:steelblue;
    cursor: pointer;
  }

  .plusButton {
    background-color: white;
    padding: 2px;
    font: 18px sans-serif;
    stroke:steelblue;
    cursor: pointer;
  }

  .xButton {
    background-color: white;
    padding: 2px;
    font: 18px sans-serif;
    stroke:red;
    cursor: pointer;
  }

  input {border: 1px dotted #ccc; background: white; font-family: monospace; padding: 10px 20px; font-size: 18px; margin: 20px 10px 20px 0; color: red; display: none;}

  button {border: 1px dotted #ccc; background: white; font-family: monospace; padding: 10px 20px; font-size: 18px; margin: 20px 10px 20px 0; color: red; }

  #refresh {
    background: green;
    color: white;
  }

  .alert {
    display: none;
    color: red;
  }

   #loadingText {
     display: inline;
     color: lightgray;
   }
